<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      				  http://www.springframework.org/schema/beans/spring-beans.xsd
      				  http://www.springframework.org/schema/tx
      				  http://www.springframework.org/schema/tx/spring-tx.xsd
      				  http://www.springframework.org/schema/aop
      				  http://www.springframework.org/schema/aop/spring-aop.xsd
      				  http://www.springframework.org/schema/context
      				  http://www.springframework.org/schema/context/spring-context.xsd
      				  http://www.springframework.org/schema/util
      				  http://www.springframework.org/schema/util/spring-util.xsd
      				  http://www.springframework.org/schema/mvc
      				  http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 自动扫描该包，SpringMVC会将包下用了@controller注解的类注册为SpringMVC的controller -->
	<context:component-scan
		base-package="org.kingson" use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>

	<!-- 设置默认配置方案,支持注解 -->
	<mvc:annotation-driven />
	<!-- 使用默认的Servlet来响应静态文件 -->
	<mvc:default-servlet-handler />

	<mvc:interceptors>
		<!-- 解决no Session问题的拦截器，放到其他拦截器之前 -->
		<bean class="org.springframework.orm.hibernate5.support.OpenSessionInViewInterceptor" autowire="byType"></bean>
		<mvc:interceptor>
			<!-- 配置拦截的请求 http://127.0.0.1:8080/项目名/main.jspx http://127.0.0.1:8080/项目名/abc/main.jspx -->
			<mvc:mapping path="/*.jspx" />
			<mvc:mapping path="/*/*.jspx" />
			<mvc:mapping path="/*/*/*.jspx" />
			<!-- 不拦截的地址 -->
			<mvc:exclude-mapping
				path="/identity/user/ajaxLogin.jspx" />
			<mvc:exclude-mapping path="/createCode.jspx" />
			<!-- 配置拦截器类 -->
			<bean class="org.kingson.commrs.filter.LoginFilter"></bean>
		</mvc:interceptor>
		<!-- 所有的请求，都会加上此拦截器，把User对象从Session里面获取出来，然后把ID告诉流程引擎 -->
		<bean class="org.kingson.Ims.workflow.controller.ActivitiAuthInterceptor"/>
	</mvc:interceptors>

	<!-- 视图解析器 /WEB-INF/jsp/login.jsp -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 前缀 -->
		<property name="prefix">
			<value>/WEB-INF/view/</value>
		</property>
		<!-- 后缀 -->
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	<mvc:view-controller path="/login.jspx" />
	<mvc:view-controller path="/home.jspx" />
</beans>